/* Add smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Style each section */
/* .section {
  padding: 100px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.AppBar {
  position: fixed;
  width: 100%;
}

body {
  margin: 0;
}
